<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Add Company</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

    <h3>Add Company</h3>

    <form action="#"
          th:action="@{/addCompany}"
          th:object="${company}"
          method="post">
        <input type="hidden" th:field="*{companyid}"/>
        <div class="form-group">
            <label for="company">Company</label>
            <input type="company" class="form-control" id="company" th:field="*{companyname}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>