<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Company List</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <td ><span th:text="${company.companyid}"></span></td>
            <td><span th:text="${company.companyname}"></span></td>
            <td>
                <a class="btn btn-primary" th:href ="@{/updateCompany/{id}(id=${company.companyid})}">Update</a>
                <a class="btn btn-danger" th:href ="@{/deleteCompany/{id}(id=${company.companyid})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>