<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Customers</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="table-responsive">
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Company</th>
            <th>Position</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${customer.customerid}"></span></td>
            <td><span th:text="${customer.title}"></span></td>
            <td><span th:text="${customer.firstname + ' ' + customer.lastname}"></span></td>
            <td><span th:text="${customer.streetaddress + ' ' + customer.city + ', ' + customer.state + ' ' + customer.zipcode}"></span></td>
            <td><span th:text="${customer.emailaddress}"></span></td>
            <td><span th:text="${customer.company.companyname}"></span></td>
            <td><span th:text="${customer.position}"></span></td>
            <td>
                <a class="btn btn-primary" th:href ="@{/update/{id}(id=${customer.customerid})}">Update</a>
                <a class="btn btn-danger" th:href ="@{/delete/{id}(id=${customer.customerid})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>