<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Population by State</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: nav"></div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>State</th>
            <th>Population</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td><span th:text="${customer.company.companyname}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>